<!DOCTYPE html>
<html>

  <body>
    <h1 class="claseSombra" id="cabeza">
      {{message}}
    </h1>
  </body>
  <button onclick="randNum()">
    Random Sentence
  </button>
  <p style="color:green"> Your random Number is</p><p id="randNum"></p>
  
  
  <h2 class="claseSombra" id="oracionRandom">
    Please write your name and we will give you a random number with it!
  </h2>
  <input type="text" id="username">
  <button onclick="rSentence()" id="sentenceButton">
  Generate Random Sentence
  </button>
  <p id="randomSentence">
  </p>

</html>
