<!DOCTYPE html>
<html>
 
<head>
    <title>Random Sentences or numbers!</title>
</head>
 
<body>
    <h1>If you want a random sentence click the button below!!</h1>

    <a href="/randomS">
      <button>A random sentence</button>
    </a>

    <h2> If you want a random number, What Type of Random Number Would You Like?</h2>

    <a href="/rand/1/10">
      <button>A Small Random Number</button>
    </a>

    &nbsp &nbsp &nbsp
    
    <a href="/rand/1000/2000">
      <button>A Big Random Number</button>
    </a>
</body>
 
</html>
